* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body, .container {
  margin: 0;
  padding: ;
}

body {
  height: 10vh;
  width: 100%;
}

/* Container styles */
.container {
  display: flex;
  height: 100vh;
}

/* Left section */
.left {
  flex: 1;
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 110px;
}

/* Logo */
.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Headings */
.left h3 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.left h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Subtitle */
.subtitle {
  color: #777;
  margin-bottom: 20px;
}

/* Social icons */
.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px;
  padding: 15px;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  width: 50px;
  height: 50px;
}

.social-icons a i {
  background: black;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Right section */
.right {
  flex: 1;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}



/* Navigation */
nav ul {
  display: flex;
  gap: 90px;
  list-style: none;
 
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.btn {
  background: white;
  color: black !important;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
}

/* Footer styles */
.site-footer {
  background-color: #ffffff;
  color: white;
  padding: 20px 0px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
  
}

.site-footer .footer-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-footer .back-to-home {
  color: white;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 10px;
  border: 2px solid white;
  padding: 8px 20px;
  transition: background-color 0.3s ease;
}

.site-footer .back-to-home:hover {
  background-color: white;
  color: black;
}

.site-footer .footer-social-icons {
  margin: 0;
}

.site-footer .footer-social-icons a {
  background-color: black;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  color: white;
  margin: 0 10px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.site-footer .footer-social-icons a:hover {
  color: #777;
  background-color: #222;
}

.site-footer .footer-copy {
  font-size: 0.9rem;
  margin-top: 0;
  color: #aaa;
}
